# Dossiers
/bin/
/pkg/
/vendor/
/output/

# Fichiers exécutables
*.exe
*.exe~
*.dll
*.so
*.dylib

# Fichiers d'environnement
.env

# Fichiers de configuration
*.iml
.idea/
.vscode/

# Fichiers de sauvegarde
*~
*.swp
*.bak
logs.txt

# Fichiers a conserver
!build/
